name: News-Demo-CI

on:
  push:
    branches: [ "main" ]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "news/**"
  pull_request_target:
    branches:
      - main
    types: [opened, synchronize, reopened]
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "news/**"
jobs:

  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: |
        go mod tidy && go mod vendor
        go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Linter
      uses: github/super-linter@v4.9.5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_ALL_CODEBASE: false
